.problemContainer {
  height: 100%;
}

.problem {
  overflow-y: scroll !important;
  background-color: #f9f9f9;
  height: 100vh;
  position: relative;
  padding: 20px;

  .bold {
    font-weight: 700;
  }

  .hideButton {
    position: absolute;
    top: 0px;
    right: 10px;
  }

  li {
    margin-left: 30px;
  }
}

code {
  background-color: #eee;
  color: black;
  padding: 1px 3px;
}

.hidden {
  display: none;
}
