@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap'); 
@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color:#0984e3;
}

.App {
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-family: 'Yellow Rabbit';
  color: white;
  margin: 50px 0;
  font-weight: 700;
  text-align: center;
  font-size: 150px;
}

@font-face {
  font-family: 'Yellow Rabbit';
  src: local('Yellow Rabbit'), url('../src/static/yellow-rabbit.otf') format('opentype');
}
